<!DOCTYPE html>
<!-- This shows  -->
{% extends 'bulletin/base.html' %} <!-- using the base.html interface -->

{% load staticfiles %}

{% block title %} Details pages {% endblock %}

{% block body_id %}roomie-details-page{% endblock %}
{% block body_block %}
	<div class='nav-header'>
		<div class="row">
			<div class='col-xs-1' style='padding:0;padding-top:0.4em;margin-left:-5px;'>
				<a herf='/bulletin/listing/{{seeker}}/'>  <span class='btn-back'></span></a>
			</div>
			<div class='profile-pic col-xs-2'>
				<div class='image-round-wrapper'>
					<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA92yqBQc3NSvA6sHu5-VAY3fIz4i0-VM-_cUZrYb-s6lUqyfvsA' height=40/>
				</div>
			</div>
			<div class='headline col-xs-9'>
				<h3 class='js-listing-card-headline'>Clean and friendly female roommate wanted</h3>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-3'></div>
			<div class='col-xs-9'>
				<h4 class='header-subline js-listing-card-subline'>In 15 days / Negotiable</h4>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-3'></div>
			<div class='col-xs-9'>
				<p class='js-listing-card-existingRoommates'>Existing roommate: 1<span class='icon-gender-f icon-inline'></span></p>
			</div>
		</div>
	</div>

	<div class='listing-details-content'><!-- listing details content -->
		<div id="map-canvas"></div>
		<div class='js-listing-card-price listing-card-price'>HKD {{roomInfo.price}} </div><!-- pricing -->

		<div class='list-item' id='listing-detail-address'><!-- Detail: address -->
			<div class='row'>
				<div class='col-xs-1'>
					<span class='icon-listing-loc icon-inline'></span>
				</div>
				<div class='col-xs-10'>
					<p class='js-location'> {{ roomInfo.address }} </p>
				</div>
			</div><!-- end of row -->
		</div><!-- end of Detail: address -->

		<div class='list-item' id='listing-detail-area'><!-- Detail: area -->
			<div class='row'>
				<div class='col-xs-1'>
					<span class='icon-listing-area icon-inline'></span>
				</div>
				<div class='col-xs-9'>
					<p class='js-location'>{{ roomInfo.size }}sqft net area<br/>(floor plan available)</p>
				</div>
				<div class='col-xs-1' style='margin-top: 1em;'>
					<span class='btn-next-black'></span>
				</div>
			</div><!-- end of row -->
		</div><!-- end of Detail: area -->

		<div class='list-item' id='listing-detail-roomTypes'><!-- Detail: room types -->
			<p class='label-grey'>Rooms</p>
			<div class='row'>
				<div class='col-xs-6'>
					<span class='icon-room-bed icon-inline'></span> <span class='js-NoOfBedrooms'>2</span> bed rooms
      	</div>
      	<div class='col-xs-6'>
					<span class='icon-room-kitchen icon-inline'></span> <span class='js-NoOfKitchens'>1</span> kitchen
      	</div>
    	</div><!-- end of row -->
    	<div class='row'>
      	<div class='col-xs-6'>
					<span class='icon-room-living icon-inline'></span> <span class='js-NoOfLivingrooms'>1</span> living room
				</div>
				<div class='col-xs-6'>
					<span class='icon-room-balcony icon-inline'></span> <span class='js-NoOfBalconies'>1</span> balcony
				</div>
			</div><!-- end of row -->
			<div class='row'>
      	<div class='col-xs-6'>
					<span class='icon-room-bathroom icon-inline'></span> <span class='js-NoOfBathrooms'>1</span> bathroom
				</div>
			</div><!-- end of row -->
		</div><!-- end of Detail: room types -->

		<div class='list-item' id='listing-detail-roomTypes'><!-- Detail: shared furniture/utilities -->
			<p class='label-grey'>Shared furniture/utilities</p>
			<div class='scrollable'>
				<div class='scrolling-area'>
					<ul class='scrollable-view'>
						<li class='text-center'>
							<div><span class='icon-fridge'></span></div>
							<div>
								<span class='js-furnitureType'>
									fridge
								</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-washingMachine'></span></div>
							<div>
								<span class='js-furnitureType'>
									washing machine
								</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-microwave'></span></div>
							<div>
								<span class='js-furnitureType'>
									microwave oven
								</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-drawer'></span></div>
							<div>
								<span class='js-furnitureType'>
									hallway cabinet
								</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-drawer'></span></div>
							<div>
								<span class='js-furnitureType'>
									shoe drawer
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- end of Detail: shared furniture/utilities -->

		<div class='carousel-images-area'><!-- Detail: images -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
						<img src='http://www4.comp.polyu.edu.hk/~icba/doc/superior%20room.JPG'/>
			    </div>
			    <div class="item">
			      <img src='http://www4.comp.polyu.edu.hk/~icba/doc/Deluxe%20room.JPG'/>
			    </div>
			    <div class="item">
			      <img src='http://cache.carlsonhotels.com/ow-cms/pkp/images/hotels/GBLEEDS/CMSNEW/SuperiourRoom.jpg'/>
			    </div>
			  </div>
			</div>
			<div class='js-noOfImages label-noOfImages'>
				<span class='icon-inline icon-camera'></span> 1/3
			</div>
		</div><!-- end of Detail: images -->

		<div class='list-item' id='listing-detail-intro'><!-- Detail: intro -->
			<div class='row'>
				<div class='col-xs-10'>
					<p class='js-intro label-grey'><i>The rent lease started from last year August and should last till 2016 August. It is located on mid-level floor and facing a quiet street ... </i></p>
				</div>
				<div class='col-xs-1' style='margin-top: 1em;'>
					<span class='btn-next-black'></span>
				</div>
			</div><!-- end of row -->
		</div><!-- end of Detail: intro -->

		<div class='list-item' id='listing-detail-furnitureInRoom'><!-- Detail: Available furniture in the room to rent -->
			<p class='label-grey'>Available furniture in the room to rent</p>
			<div class='scrollable'>
				<div class='scrolling-area'>
					<ul class='scrollable-view'>
						<li class='text-center'>
							<div><span class='icon-doubleBed'></span></div>
							<div>
								<span class='js-furnitureType'>
									double beds
								</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-desk'></span></div>
							<div>
								<span class='js-furnitureType'>
									desk
								</span>
							</div>
							<div class='item-price'>
								<span class='js-furniturePrice'>HKD300</span>
							</div>
						</li>
						<li class='text-center'>
							<div><span class='icon-drawer'></span></div>
							<div>
								<span class='js-furnitureType'>
									cabinet
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- end of Available furniture in the room to rent -->

		<div class='list-item' id='listing-detail-bookmark'><!-- Detail: bookmark -->
			<a class='btn-long-round orange-line js-bookmark' href=#><span class='bookmark'></span> Bookmark this listing</a>
		</div><!-- end of Detail: bookmark -->

		<section id='listing-current-renter' class='grey text-center'><!-- Detail: about current renter -->
			<div class='profile-pic'><!-- profile pic -->
				<div class='image-round-wrapper-bigger'>
					<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA92yqBQc3NSvA6sHu5-VAY3fIz4i0-VM-_cUZrYb-s6lUqyfvsA' height=84/>
				</div>
			</div><!-- end of profile pic -->
			<p><i><span style='font-weight: 100'>Posted by </span></i> <span class='js-current-renter-name'><span style='font-weight: bold'> {{ ownerInfo.name }} </span> <span class='icon-gender-f icon-inline'></span></p>
			<p><i><span style='font-weight: 100'><span class='js-noOfCommonFrients'>3</span> Common friends&nbsp;</span> <span class='js-facebook-common-friends friend'><img src='http://www.worthytoshare.net/wp-content/uploads/2014/03/8876509-lily-pretty-girl1.jpg' height=20/></span><span class='js-facebook-common-friends friend'><img src='http://static.hdw.eweb4.com/media/thumbs/1/120/1190948.jpg' height="20"/></span>
			<br/>
			<p class='js-listing-renter-about'>
				<ul class='listing-renter-about'>
					<li>At work</li>,
					<li>welcomes pet</li>,
					<li>prefers quiet</li>
				</ul>
			</p>
			<p class='listing-renter-intro js-listing-renter-intro label-grey'><i>Hi, I’m {{ ownerInfo.name }}. I’m a full-time UI/UX designer and developer</i></p>
		</section><!-- end of Detail: about current renter -->

	</div><!-- end of listing details content -->

	<script>
  	var map
  		, icon = {
  			  url: "{% static 'bulletin/assets/map-pin.png' %}"
  			, size: new google.maps.Size(50, 50)
  			, origin: new google.maps.Point(0,0)
  			, anchor: new google.maps.Point(25, 25)
  		}
  		, latlng = new google.maps.LatLng(22.306011, 114.1879995)
			, marker
		function initialize() {
		  map = new google.maps.Map(document.getElementById('map-canvas'), {
			    zoom: 16
		    , center: {lat: 22.306011, lng: 114.1879995}
		    , disableDefaultUI: true
		  })
		  marker = new google.maps.Marker({
		      position: latlng
		    , map: map
		    , icon: icon
		    , animation: google.maps.Animation.DROP,
		  })
		}
		google.maps.event.addDomListener(window, 'load', initialize)
	</script>
	<!-- end of Google maps in listing card -->
{% endblock %}

{% block custome_js_block %}
	<!-- Carousel of images -->
	<script>
    $("#carousel-example-generic").carousel({
		  swipe: 50 // percent-per-second, default is 50. Pass false to disable swipe
		}) 
	</script><!-- end of Carousel of images -->
	<!-- bookmark action -->
	<script>
    $('.js-bookmark').click(function(){
      console.log($(this).attr('class'))
      if($(this).hasClass('active')) {
        $(this).removeClass('active')
      } else {
        $(this).addClass('active')
      }
      return false;
    })
  </script><!-- end of bookmark action -->
{% endblock %}


<!-- Delete the following codes in production -->

{{ roomInfo.id }}
{% if roomInfo  %}
	hahaha
	{% if not roomInfo.user %}
		Damn, who owns this shitty house?
	{% else %}
		{{ roomInfo.user.name }}
		Owner_id:	{{ ownerInfo.name }}
		Addr:		{{ roomInfo.address }}
		Dist:		{{ roomInfo.district }}
		Latitude:	{{ roomInfo.latitude }}
		Longitude:	{{ roomInfo.longitude }}
		Private?:	{{ roomInfo.isPrivate }}
		Price:		{{ roomInfo.price }}

		Period:		{{ roomInfo.stayPeriod }}
		MoveIn:		{{ roomInfo.moveInDate }}
		Size:		{{ roomInfo.size }}
		NumMates:	{{ roomInfo.numExistingMates }}

		<img src="{{ roomInfo.pictureURL }}" alt="Room Picture">
		<!-- Info about owner -->
		Information about Owner:
		Name:		{{ ownerInfo.name }}
		Age:		{{ ownerInfo.age }}
		Gender:		{{ ownerInfo.gender }}
		Occupation:	{{ ownerInfo.occupation }}
		Pet?:		{{ ownerInfo.hasPet }}
		Smoke?:		{{ ownerInfo.smoker }}
		Quiet?:		{{ ownerInfo.quiet }}

		Information about Onwer Preference:
		Preferred Gender:		{{ ownerInfo.gender_mate }}
		Preferred Occupation:	{{ ownerInfo.occuptaion_mate }}
		Prefer Pet?				{{ ownerInfo.hasPet_mate }}
		Prefer smoker?			{{ ownerInfo.smoker_mate }}
		Prefer quiet?			{{ ownerInfo.quiet_mate }}
	{% endif %}
{% endif %}
