{% extends 'bulletin/base.html' %} <!-- using the base.html interface -->

{% load staticfiles %}

{% block title %} Listing pages {% endblock %}

{% block body_id %}roomie-listing-page{% endblock %}

{% block body_block %}
	<!-- Hamburger -->
    <nav id="menu" class="menu">
      <a href="" target="_blank">
        <header class="menu-header">
          <div class='profile-pic'>
            <div class='image-round-wrapper'>
              <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA92yqBQc3NSvA6sHu5-VAY3fIz4i0-VM-_cUZrYb-s6lUqyfvsA' height=40/>
            </div>
          </div>
        </header>
      </a>
      <!-- Menu area -->
      <section class="menu-section">
        <ul class="menu-section-list">
          <li><a href="" target="_blank">Profile</a></li>
          <li><a href="" target="_blank">Search</a></li>
          <li><a href="" target="_blank">Add my place</a></li>
        </ul>
      </section>
      <section class="menu-section">
        <ul class="menu-section-list">
          <li><a href="">Message</a></li>
          <li><a href="">Bookmarks</a></li>
        </ul>
      </section>
      <section class="menu-section">
        <ul class="menu-section-list">
          <li><a href="">Logout</a></li>
        </ul>
        <p class='label-grey' style='padding-left:20px;'>Produced with ❤</p>
      </section>
      <!-- end of Menu area -->
    </nav>
    <!-- end of Hamburger -->

    <div id="panel" class="panel purple-bg app-container"><!-- App body -->
      <header class="panel-header">
        <div class="row">
        	<div class='col-xs-2'>
		        <button class="btn-hamburger js-slideout-toggle" style='padding:2.5em;'></button>
	        </div>
	        <div class='col-xs-10'>
		        <!-- <div class='roomie-dummy-search left'>Search</div> -->
		        <div class="input-group roomie-dummy-search left">
						  <span class='icon-home-search'></span>
						  <i>Current location</i>
						</div>
	        </div>
        </div>
      </header>
      <div class='app-content'><!-- App content -->
      	
      	<!-- carousel view here -->
      	<div class='listing-card'><!-- listing card -->
      		<div id='wrapper'>
            <div id="map-canvas"></div>
          </div>
      		<div class='js-listing-card-price listing-card-price'>HKD 6,700</div>
      		<div class='listing-card-content-div'><!-- listing details -->
      			<div class='card-header'>
      				<div class="row">
	      				<div class='profile-pic col-xs-2'>
	      					<div class='image-round-wrapper'>
		      					<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA92yqBQc3NSvA6sHu5-VAY3fIz4i0-VM-_cUZrYb-s6lUqyfvsA' height=40/>
		      				</div>
	      				</div>
	      				<div class='headline col-xs-10'>
	      					<h3 class='js-listing-card-headline'>Clean and friendly female roommate wanted</h3>
	      				</div>
      			</div>
      			<h4 class='header-subline js-listing-card-subline'>In 15 days / Negotiable</h4>
      			<p class='js-location'><span class='icon-listing-loc icon-inline'></span>Whampoa Garden, Hung Hom</p>
      			<ul class='listing-card-room-list'>
      				<li class='js-listing-card-area'><span class='icon-inline icon-listing-area'></span>500sqt</li>
      				<li class='js-listing-card-bedrooms'><span class='icon-room-living icon-inline'></span> 2</li>
      				<li class='js-listing-card-bedrooms'><span class='icon-room-bed icon-inline'></span> 1</li>
      				<li class='js-listing-card-bedrooms'><span class='icon-room-bathroom icon-inline'></span>1</li>
      			</ul>
      			<p class='js-listing-card-existingRoommates'>Existing roommate: 1<span class='icon-gender-f icon-inline'></span></p>
      		</div><!-- end of listing details -->
      	</div><!-- end of listing card -->
	    	<div class='js-view-detail btn-view-detail-div center-align'>
    			<a href=#>View Details <span class='btn-next-black icon-inline'></span></a>
    		</div>
    		<!-- end of carousel view here -->

    		<div class='listing-card-actions'>
    			<div class="row">
	        	<div class='col-xs-2'></div>
	        	<div class='col-xs-4 center-align'>
	        		<a href='' class='btn-round btn-bookmark js-bookmark' id=''>
	        		</a>
	        	</div>
	        	<div class='col-xs-4 center-align'>
	        		<a href='' class='btn-round btn-message'>
	        		</a>
	        	</div>
	        	<div class='col-xs-2'></div>
	        </div>
    		</div>

      </div><!-- end of App content -->
    </div><!-- end of App body -->

    <!-- Hambuger menu script -->
    <script>
      window.onload = function() {
        document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
          slideout.toggle()
        })

        document.querySelector('.menu').addEventListener('click', function(eve) {
          if (eve.target.nodeName === 'A') { slideout.close() }
        })
      }
    </script>
    <!-- end of Hamburger menu script -->
    <!-- Google maps in listing card -->
    <script>
    	var map
    		, icon = {
    			  url: "{% static 'bulletin/assets/map-pin.png' %}"
    			, size: new google.maps.Size(50, 50)
    			, origin: new google.maps.Point(0,0)
    			, anchor: new google.maps.Point(25, 25)
    		}
    		, latlng = new google.maps.LatLng(22.306011, 114.1879995)
				, marker
			function initialize() {
			  map = new google.maps.Map(document.getElementById('map-canvas'), {
				    zoom: 16
			    , center: {lat: 22.306011, lng: 114.1879995}
			    , disableDefaultUI: true
			  })
			  marker = new google.maps.Marker({
			      position: latlng
			    , map: map
			    , icon: icon
			    , animation: google.maps.Animation.DROP,
			  })
			}
			google.maps.event.addDomListener(window, 'load', initialize)
		</script><!-- end of Google maps in listing card -->
    <!-- bookmark action -->
{% endblock %}
{% block custome_js_block %}
    <script>
      $('.js-bookmark').click(function(){
        console.log($(this).attr('class'))
        if($(this).hasClass('active')) {
          $(this).removeClass('active')
        } else {
          $(this).addClass('active')
        }
        return false;
      })
    </script><!-- end of bookmark action -->
{% endblock %}
<!-- Delete the following codes in production mode! -->

{% if seeker %}
  <ul>
      <li>Seeker id: {{seeker.id}}</li>
      <li>Seeker name: {{seeker.name}}</li>
      <li>Seeker gender: {{seeker.gender}}</li>
      <li>Seeker's roommate gender preference: {{seeker.gender_mate}}</li>
      <li>Seeker's district preference: {{seeker.district}}</li>
      <li>Seeker's isPrivate preference: {{seeker.isPrivate}}</li>
      <li>Seeker's price gender preference: {{seeker.price}}</li>
      
  </ul>

  {% if roomList %}
    <ul>
        {% for room in roomList %}
          <li>Room:   {{ room.id }}</li>
          <li>Owner:   {{ room.user }}</li>
          <li>Owner gender:   {{ room.user.gender }}</li>
          <li>Room district:   {{ room.district }}</li>
          <li>Room isPrivate:   {{ room.isPrivate }}</li>
          <li>Room price:   {{ room.price }}</li>
        {% endfor %}
    </ul>
  
  {% else %}
      The specified roomList  does not exist!
  {% endif %}

{% else %}
    The specified seeker does not exist!
{% endif %}
