/* ---------------------------- */
/* Hackathon
/* 2015 Jun
/* ---------------------------- */

body {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.4;
	width: 100%;
}
p {
	margin: 0 0 5px;
}
h3 {
	font-size: 15px;
	line-height: 1.3;
	font-weight: 600;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.left {
	float: left;
}
.label-grey {
	color: #999;
}

/* listing template */
body#roomie-listing-page {
	height: 100%;
}
.roomie-dummy-search {
	display: inline-block;
	color: rgba(255,255,255,0.4);
	text-align: left;
	padding: 1em 0 0.8em;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
.roomie-dummy-search span, .roomie-dummy-search i {
	vertical-align: bottom;
}

.listing-carousel {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}
.listing-card {
	width: 85%;
	min-width: 275px;
	height: 388px;
	background: white;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}
#map-canvas {
  height: 160px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*-webkit-mask-image: url(../assets/map-mask.svg)*/
}
#roomie-details-page #map-canvas {
	-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#map-canvas .gm-style{
  /*-webkit-mask-image: url('/images/round-corner-rec.svg');*/
}
.listing-card-price {
	background: rgba(247, 147, 30, 0.8);
	padding: 0.5em 1em;
	position: absolute;
	z-index: 2;
	color: white;
	font-weight: 600;
	top: 127px;
}
.listing-card-content-div {
	padding: 1em 1em 0 1em;
	text-align: left;
	font-size: 14px;
}
.listing-card-content-div .headline {
	padding-right: 0;
}
.listing-card-content-div .row {
	margin: 0;
}
.listing-card-content-div h3 {
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
	line-height: 1.3;
}
.header-subline {
	text-align: left;
	font-size: 13px;
	color: #f7931e;
	font-weight: 400;
}
.profile-pic {
	display: inline-block;
	padding: 0;
	text-align: center;
}
.profile-pic .image-round-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
}
ul.listing-card-room-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
ul.listing-card-room-list li {
	padding-right: 1em;
	display: inline-block;
}
.btn-view-detail-div a {
	border-top: 1px solid #ddd;
	padding: 0.9em;
	display: block;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.btn-view-detail-div a:hover {
	background: #f7f7f7;
}
/* home page action area */
.listing-card-actions {
	padding: 1.5em 0;
}
.btn-round {
	width: 54px;
	height: 54px;
	display: block;
	border-radius: 27px;
	background: rgba(255,255,255,0.8);
	margin: 0 auto;
	-webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
.btn-round:hover {
	background-color: rgba(247, 147, 30, 0.8);
}
.btn-round.btn-bookmark {
	background-size: 36px 52px;
	background-image: url('../assets/btn-bookark.svg');
	background-position: 45%;
}
.btn-round.btn-message {
	background-size: 36px 52px;
	background-image: url('../assets/btn-message.svg');
	background-position: 62%;
}
/* end of home page action area */ 

/* listing details page */
.nav-header {
	padding: 0.6em 1em;
}
.nav-header .row {
	margin: 0;
}
.nav-header .row h3 {
	margin: 0;
}
.nav-header h4, .nav-header p {
	margin: 0;
}
.listing-details-content {
	position: relative;
}
.list-item {
	padding: 1em 1em;
	border-bottom: 1px solid #ddd;
}
.scrollable {
	width: 100%;
	overflow: scroll;
	white-space:nowrap;
}
ul.scrollable-view {
	list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
ul.scrollable-view li {
	padding: 0.5em 0em 0em 0em;
	display: inline-block;
	width: 70px;
	vertical-align: top;
	line-height: 1.3;
	white-space:normal;
}
.carousel-images-area {
	position: relative;
	color: white;
	overflow: hidden;
}
.carousel-images-area img {
	height: 240px !important;
	width: 100% !important;
}
.label-noOfImages {
	border-radius: 3px;
	background: rgba(51,51,51,0.5);
	position: absolute;
	bottom: 1em;
	left: 1em;
	color: white;
	padding: 0.4em 1em;
}
.item-price span {
	background: rgba(247,147,30,0.8);
	border-radius: 3px;
	color: white;
	margin-top: 4px;
	padding: 0.2em 0.4em;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
}
.btn-long-round {
	padding: 0.8em 1em;
	font-size: 17px;
	border-radius: 40px;
	display: block;
	margin: 0 auto;
	text-align: center;
	-webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
.btn-long-round span.bookmark {
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../assets/btn-bookark.svg');
}
.btn-long-round.orange-line {
	border: 1px solid rgba(247,147,30,0.8);
}
.btn-long-round.orange-line:hover {
	background: rgba(247,147,30,0.8);
}
.btn-long-round.orange-fill {
	background: rgba(247,147,30,0.8);
	color: white;
}
.profile-pic .image-round-wrapper-bigger {
	width: 84px;
	height: 84px;
	border-radius: 50px;
	overflow: hidden;
	display: inline-block;
}
section {
	padding: 1.5em 1em;
}
.grey {
	background: #f7f7f7;
}
span.friend {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border-radius: 10px;
	overflow: hidden;
	vertical-align: middle;
}
ul.listing-renter-about {
	list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
ul.listing-renter-about li {
	display: inline-block;
}
/* end of listing details page */

/* App icons */
.icon-inline {
	vertical-align: middle;
	display: inline-block;
}
.icon-camera {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -192px -144px;
}
.icon-setup-loc {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') 0 0;
}
.icon-setup-bedroom {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -48px 0;
}
.icon-setup-price {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -96px 0;
}
.icon-setup-time {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -144px 0;
}
.icon-setup-period {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -192px 0;
}
.icon-home-search {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -240px 0;
}
.icon-gender-f {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -288px 0;
}
.icon-gender-m {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -336px 0;
}
.icon-listing-loc {
	display: inline-block;
	width: 36px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') 0 -96px;
}
.icon-listing-area {
	display: inline-block;
	width: 36px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -48px -96px;
} /* end of App icons */

/* App btns */
.btn-back {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') 0 -48px;
}
.btn-edit {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:1;
	background: url('../assets/icons.png') -48px -48px;
}
.btn-next-orange {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -96px -48px;
}
.btn-next-black {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.4;
	background: url('../assets/icons.png') -144px -48px;
}/* end of App icons */

/* Room icons */
.icon-room-bed {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -96px -96px;
}
.icon-room-living {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -144px -96px;
}
.icon-room-bathroom {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -192px -96px;
}
.icon-room-kitchen {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -240px -96px;
}
.icon-room-balcony {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -288px -96px;
}/* end of Room icons */

/* Room furniture/utilities */
.icon-fridge {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') 0 -144px;
}
.icon-washingMachine {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -48px -144px;
}
.icon-microwave {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -96px -144px;
}
.icon-drawer {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -144px -144px;
}
.icon-doubleBed {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') 0 -192px;
}
.icon-desk {
	display: inline-block;
	width: 48px;
	height: 48px;
	zoom:0.5;
	background: url('../assets/icons.png') -48px -192px;
}/* end of Room furniture/utilities */

.app-container {
	width: 100%;
	height: 568px;
}
.purple-bg {
	background-color: #222;
	background-image: url('../assets/bg.png')
}